
/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-image: url("https://st2.depositphotos.com/1485980/7448/i/950/depositphotos_74487127-stock-photo-watercolor-ice-wind-rose-crystals.jpg");
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

} 
h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  color:dodgerblue;
}
h4{
  font-family: 'Cookie', cursive;
  font-size: 23px;
  margin-top:25px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}
body{
  background-image: url("http://debbieabshear.com/user/files/2627/artworks/Ice_Cruise_5957.jpg")
}
ol{
  color:sandybrown;
}
